@media screen and (max-width:700px) {
    #home .carousel-inner img {
        height: 12em;
    }

    h1 {
        font-size: 80px;
    }

    p {
        font-size: .90em;
    }

    .tab-pane img {
        margin-bottom: 1em;
        height: 75vh;
    }

    .nav-cardapio button {
        margin-bottom: 1em;
    }

}